# Игнорировать папку .vscode (настройки IDE)
.vscode/

# Игнорировать временные файлы сборки и бинарники
*.exe
*.out
*.o
*.obj
*.bin
*.dll
*.so
*.a
*.lib

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать пользовательские файлы (например, PDF)
*.pdf

# Игнорировать графику
*.ppm

# Игнорировать кэш и логи
*.log
*.cache

# CMake
build/
CMakeCache.txt
CMakeFiles/
*.cmake

# Autotools
Makefile
autom4te.cache/
Sprint4/review
Sprint4/review
